# Byte-compiled / optimized / DLL files
.venv/
.idea/

# Python cache files
__pycache__/
*.py[cod]

# Environment variables
.env*
!.env.example

# Celery stuff
celerybeat-schedule
celerybeat-schedule-shm
celerybeat-schedule-wal
celerybeat.pid